

@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
:root {
  --font-family: "Space Grotesk", sans-serif;
  --font-family-sour: "Sour Gummy", sans-serif;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-600:#282828;
  --color-gray-500:#4e4d4d;
  --color-gray-400:#706d6d;
  --color-gray-300:#6f6e6e;
  --color-gray-200:#c5b9b9;
  --color-gray-100:#e8e6e6;

  --color-danger: #D70200;
  --color-danger-100: #6e3534;
  --color-success: #0bbe29;
  --color-info: #409FD9;
   --color-warning: #fdc02d;
}
@font-face {
  font-family: "Chunk";
  font-style: normal;
  font-weight: 400;
  src:
    local("ChunkFive"),
    url(assets/chunk.woff) format("woff");
}

body {
  background-image: url("../images/dirtbg.png");
  font-family: var(--font-family-sour);
}



button {
    cursor: pointer;
  border: none;
  height: auto;
  padding: 6px 24px;
  border-radius: 6px;
  font-weight: 600;
  min-width: max-content;
}


h2 {
  text-align: center;
}

.awaitGeneration,
.hidden,
.initialHidden,
.imageData {
  display: none;
}
.centred,
#tooSmallInner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  width: 400px;
  transform: translate(-50%, -50%);
}
.helpPointer {
  cursor: help;
}
.mintcream,
.neutral {
  background-color: mintcream;
}
.neutral {
  color: black;
}
.padding10 {
  padding: 10px;
}

.pointer {
  cursor: pointer;
}
.shadow {
  -ms-box-shadow: 10px 0px 35px 0px rgba(31, 28, 31, 0.8);
  -webkit-box-shadow: 10px 0px 35px 0px rgba(31, 28, 31, 0.8);
  -moz-box-shadow: 10px 0px 35px 0px rgba(31, 28, 31, 0.8);
  box-shadow: 10px 0px 35px 0px rgba(31, 28, 31, 0.8);
}

.z1 {
  z-index: 1;
}
#tooSmall {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 200;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 600px) {
  #tooSmall[data-hasscript="true"] {
    display: block;
  }
}






